<a href="https://colab.research.google.com/github/Pravallikavyas/Python-Competitive-Programming-Questions/blob/main/Python_competitive_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION 1**

**Consider** today is sunday,In a restaurant,too much crowd in the cash counter the cashier need some help to calculate the bills.
that restaurant has different recipes they are,
menu:-
oniondosa-90 rs
plaindosa-40 rs
ravadosa-75 rs
idli-10 rs
vada-5 rs
poori-30 rs
chapathi -30 rs
pongal-35 rs
tea-25 rs
coffee-35 rs
meals-75 rs
Note: Price details discripted above is without GST.You need add 5 precent of GST for the total amount of a bill.
Input Discription:
Single line consists of recipes with count as shown below.
Output Discription:
Print output as "Total Price(GST inclusive):Rs xx.x"
Testcases:
Input:
tea 2
output:
Total Price(GST inclusive):Rs  52.5
Input:
vada 2 coffee 1
output:
Total Price(GST inclusive):Rs  47.25
Input:
meals 2 ravadosa 5 vada 4 poori 7 oniondosa 4 chapathi 2
output:
Total Price(GST inclusive):Rs  1233.75
Input:
masaladosa 1
Output:
Sorry,Only recipes in the menu !

In [ ]:
def gst(final_bill):
    final_bill+=final_bill*(5/100)
    print("Total Price(GST inclusive):Rs ",final_bill)
def billing(recipes,quantity):
    b=0
    try:
        for i,j in zip(recipes,quantity):
            b+=(menu[i]*j)
        gst(b)
    except:
        print("Sorry,Only recipes in the menu !")

menu={"oniondosa":90,"plaindosa":40,"ravadosa":75,"idli":10,"vada":5,"poori":30,"chapathi":30,"pongal":35,"tea":25,"coffee":35,"meals":75}
li=[str(r) for r in input().split()]
recipes=[]
quantity=[]
for i in range(len(li)):
    if i%2==0:
        recipes.append(li[i])
    else:
        quantity.append(int(li[i]))
billing(recipes,quantity)

masaladosa 1
Sorry,Only recipes in the menu !

**QUESTION 2**

Given a string S converts each of the characters into numbers(ASCII) and print the sum of the numbers.
Input:
abc
output:
**294**

In [ ]:
s=input()
asc=[]
sum=0
for i in s:
    asc.append(ord(i))
for i in asc:
    sum=sum+i
print(sum)

abc
294

**QUESTION 3**

An interview is scheduled for a list of students in GUVI Office, and
the candidate list has been shared to the interview panel
But in the last minute HR came to know the last n students in the
candidate list need to be given priority, since they need to catch a
flight
For Example, with n=7 candidates and k=3 need to catch their flight
So the order need to be changed as
(12.3.4.5.6.7}to{5,6,7,1,2,3,4)
If k <=0.no shuffling is needed
Write a program to help the HR to shuffle the candidate list so that
last n will come in the first
Input:
n-No. of candidates
K-No. of candidates in the end of the list who need
to be given priority
al-Candidates list
Expected Output
Output
Candidates list in shufled order.
Input:
7
3
1 2 3 4 5 6 7
Output:
5 6 7 1 2 3 4

In [ ]:
n=int(input())
k=int(input())
li=list(map(int,input( ).split(" ")))
l1=li.copy()
lg=n-k
l2=li[:lg]
del li[:lg]
if(k<=0):
    print(*l1)
else:
   li.extend(l2)
   print(*li)

7
3
1 2 3 4 5 6 7
5 6 7 1 2 3 4

**QUESTION 4**

Given a number N print all prime numbers less than N.
Input:
10
Output:
2 3 5 7

In [ ]:
n=int(input())
start=2
if start>1:
    for i in range(start,n):
        if i>1:
            for j in range(2,i):
                if i%j == 0:
                    break
            else:
                print(i,end=" ")

10
2 3 5 7

**QUESTION 5**

In a magical world,student and teacher are chosen by some rule.You are given the name of the student and name of the teacher,you have to tell whether they are chosen or not.
The process is as follows:the name of the student and teacher are first converted to numbers by the process described below.If the students number mod 47 and teachers number mod 47 is same then they would be chosen otherwise not.The number corresponding to a name is deduced by multiplying individual numbers assigned to its letters.Letter 'A' is assigned 1,'B' is assigned 2...so...till..'Z'is 26.
For instance,"ANKUR" would be 1*14*11*21*18=58212.
Print"CHOSEN" if the above condition satisfied otherwise print "NOT CHOSEN".
INPUT:
Line 1:An Uppercase character string representing the name of the student(S).
Line 2:An Uppercase character string representing the name of the teacher(T).
OUTPUT:
A single line containing either the word "CHOSEN" or the word "NOT CHOSEN".
Constraints:
1<=Length of both strings<=100
Input:
A
Z
Output:
NOT CHOSEN
Input:
COMETQ
HVNGAT
Output:
CHOSEN

In [ ]:
d={"A":1,"B":2,"C":3,"D":4,"E":5,"F":6,"G":7,"H":8,"I":9,"J":10,"K":11,"L":12,"M":13,"N":14,"O":15,"P":16,"Q":17,"R":18,"S":19,"T":20,"U":21,"V":22,"W":23,"X":24,"Y":25,"Z":26}
s=input()
t=input()
s1=list(s)
t1=list(t)
mul=1
for i in s1:
    mul=mul*d[i]
m2=1
for j in t1:
    m2=m2*d[j]
r1=mul%47
r2=m2%47
if(r1==r2):
    print("CHOSEN")
else:
    print("NOT CHOSEN")

COMETQ
HVNGAT
CHOSEN

**QUESTION 6**

Karthick is a mathematical genius. He wants to solve the followong problem: given array of N integers A and a number K. During a turn the maximal value over all A[i] is chosen, let's call it MAX. Then A[i]= MAX - A[i] is done for every 1 <=i<= N. Help Karthick to find out how will the array look like after K turns.
Input:
The numbers N and K are given in the first line of an input. Then N integers
are given in the second line which denote the array A.
Output:
Output N numbers on a single line. It should be the array A after K turns.
Example:
Input:
4 1
5 -1 7 0
Output:
2 8 0 7

In [ ]:
N,K=list(map(int,input().split()))
A=list(map(int,input ().split()))
for j in range(K):
 MAX=max(A)
for i in range(N):
   A[i]=MAX-A[i]
print(*A)

4 1
5 -1 7 0
2 8 0 7

**QUESTION 7**

Ram loves bit magic. He is given a set of integers, and wants to sort them based on the number of 1s in their binary representations (in descending order). Help Ram do a little bit of bit magic!
inputDescription: Number of elements followed by the elements
outputDescription: Sorted list of numbers
sample input:
6
1 2 3 4 5 6
sample output:
3 5 6 1 2 4

In [ ]:
n = int(input())
l = [int(x) for x in input().split()]
max = (str(bin(l[0]))[2:]).count("1")
ans = []
for i in range(len(l)):
    if max < (str(bin(l[i]))[2:]).count("1"):
        max = (str(bin(l[i]))[2:]).count("1")
for i in range(max,0,-1):
    for j in range(len(l)):
        a=[]
        if (str(bin(l[j]))[2:]).count("1") == i:
            a.append(l[j])
        ans.extend(a)
print(*ans)

6
1 2 3 4 5 6
3 5 6 1 2 4

**QUESTION 8**

Given a list of non negative integers, arrange them in such a manner that they form the largest number possible. The result is going to be very large, hence return the result in the form of a string.
Input: The first line of input consists number of the test cases. The description of T test cases is as follows: The first line of each test case contains the size of the array, and the second line has the elements of the array.
Output: In each separate line print the largest number formed by arranging the elements of the array in the form of a string.
Constraints:
1<T<70
1<N<100
0 < A[i] < 1000
Input:
2
5
3 30 34 5 9
4
54 546 548 60
Output:
9534330
6054854654

In [ ]:
from itertools import permutations
def largest(l):
  lst=[]
  for i in permutations(l,len(l)):
    lst.append("".join(map(str,i)))
  return max(lst)
t=int(input( ))
for i in range(t):
  n=int(input( ))
  li=list(map(int,input( ).split(" ")))
  print(largest(li))

2
5
3 30 34 5 9
9534330
4
54 546 548 60
6054854654

**QUESTION** **9**

**Given the heights of N towers and a value of K, Either increase or decrease the height of every tower by K (only once) where K > 0. After modifications, the task is to minimize the difference between the heights of the longest and the shortest tower and output its difference.**
Input: arr[] = {1, 15, 10}, k = 6
Output:  Maximum difference is 5.
Explanation: Change 1 to 7, 15 to 9 and 10 to 4. Maximum difference is 5 (between 4 and 9). We canâ€™t get a lower difference.

Input: arr[] = {1, 5, 15, 10}, k = 3   
Output: Maximum difference is 8, arr[] = {4, 8, 12, 7}

In [ ]:
def getminheight(arr,n,k):
  arr.sort( )
  ans=arr[n-1]-arr[0]
  tempmin=arr[0]
  tempmax=arr[n-1]
  for i in range(1,n):
    if(arr[i]<k):
      continue
    tempmin=min(arr[0]+k,arr[i]-k)
    tempmax=max(arr[i-1]+k,arr[n-1]-k)
    ans=min(ans,tempmax-tempmin)
  return ans
k,n=list(map(int,input().split(" ")))
arr=list(map(int,input( ).split(" ")))
print(getminheight(arr,n,k))

2 4
1 5 8 10
5

**QUESTION 10**

Given a string print reverse all words except the last word.
sample input:
Hello world
sample output:
Hello World
sample input:
Good morning to all
sample output:
to morning Good all

In [2]:
s=input( )
li=list(s.split(' '))
l=len(li)
last=li[l-1]
if(l>2):
  li.reverse( )
  li.append(last)
  del li[0]
  print(*li)
else:
  print(str.title(s))

Good morning to all
to morning Good all